section {
  color: #3f536e;
  font-size: 14px;
}
/* section div{
  margin-top: 10px;
} */
.demo-box>div{
  width: 95%;
  margin: 15px auto;
}
.demo-block{
  padding-top: 10px;
}
section ul {
  margin: 16px 0px;
  padding-left: 24px;
  list-style: disc;
}
section ul li{
  line-height: 1.8;
}
section .le {
  padding: 32px;
  border: 1px solid #e2ecf4;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  margin-top: 16px;
}
section h1,h2,h3,h4,h5 {
  margin: 16px 0!important;
  line-height: 1.5;
}
section hr {
  margin: 1.2em 0;
  border: 0;
  border-bottom: 1px solid #C5D9E8;
}
section p {
  padding: 0;
  line-height: 1.7;
  color: #3f536e;
  font-size: 14px;
  margin: 10px 0px;
}
section h1{
  font-size: 24px;
}
section code {
    padding: .3em .5em;
    font-size: .9em;
    vertical-align: middle;
    border: 1px solid #ECECEC;
    border-radius: 2px;
    background-color: #F7F7F7;
  }
  
  table.table {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #5e6d82;
    font-size: 14px;
    border-collapse: collapse;
    overflow: auto;
    margin-bottom: 50px;
  }
  table.table th {
      border-top: 1px solid #f3f7fa;
      background-color: #FAFBFC;
      border-bottom: 1px solid #d8d8d8;
      padding: 15px 35px;
      text-align: left;
    }
  table.table td {
      border-top: 1px solid #f3f7fa;
      border-bottom: 1px solid #d8d8d8;
      padding: 15px 35px;
  }

